option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:application:environment:
    STREAMLIT_SERVER_PORT: 8000

files:
  "/etc/nginx/conf.d/02_streamlit_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location / {
          proxy_pass http://localhost:8080;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
      }
